.container {
  height: 100%;
  display: grid;
  grid-template-rows: 10% 90%;
  color: #D9D9D9;
}

.aboutMeContent {
  overflow: auto;
  margin: 20px;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
  padding: 20px 130px;
  white-space: pre;
}

#number {
  width: 300px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bolder;
  padding: 0 0 30px;
  text-align: center;
  border-width: 30%;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #65d3ff00, #D9D9D9, #65d3ff00);
  border-image-slice: 1;
}

#story1 {
  padding-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}