.container {
  height: 100%;
  display: grid;
  grid-template-rows: 10% 10% 75% 5%;
  color: #D9D9D9;
  word-break: break-all;
}


#thisBookName {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2em;
  letter-spacing: -1.5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin : 10px 20px;
}