.container {
  height: 100%;
  display: grid;
  grid-template-rows: 25% 50% 20% 5%;
  background: linear-gradient(165deg,#3A15B5 35%, rgba(255, 185, 67));
}

.middle {
  display: grid;
  grid-template-rows: 75% 25%;
  padding: 30px 25px 10px;
}

#profilePhoto {
  content: url(/images/prf.jpg);
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 100px 150px / 100px 70px;
  border: 2px solid #888888;
  cursor: url("/images/heart-solid.svg"), auto;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}


#profilePhoto:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#comment {
  font-family: Georgia, serif;
  margin: auto;
  font-size: 3em;
  font-weight: 800;
  color: #fff;
}

.othersites {
  margin: -10px auto;
}

.linkIcons {
  color: #fff;
  display: inline-block;
  margin: 5px;
}

.bottom {
  font-weight: 600;
  color: #D9D9D9;
  text-align: center;
  font-size: 0.8em;
}