.container {
  height: 100%;
  display: grid;
  grid-template-rows: 25% 50% 20% 5%;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap : 5px;
  height: 25%;
  margin: 20px;
  padding: 5px 20px;
  border: 2px solid #D9D9D9;
  border-radius: 12px;
  font-size: 1.3em;
  font-weight: 600;
  overflow: hidden;
  text-align: center;

  & div {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: #D9D9D9;
    align-items: center;
    padding: 7px;
  }
}

.middle{
  display: grid;
  grid-template-rows: 75% 25%;
  background-color: rgb(255, 255, 255);
  padding: 30px 25px 10px;
  box-shadow: 0px 5px 500px 6px rgb(255, 221, 0);
}

#profilePhoto{
  content :url(/images/prf.jpg);
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 100px 150px / 100px 70px;
  border: 2px solid #888888;
  cursor: url("/images/heart-solid.svg"), auto;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}


#profilePhoto:hover{
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#comment{
  margin: auto;
  font-size: 3em;
  font-weight: 800;
}

.othersites{
  margin: 10px auto;
}

.linkIcons{
  color: #fff;
  display: inline-block;
  margin: 5px;
}

.bottom{
  font-weight: 600;
  color: #D9D9D9;
  text-align: center;
  font-size: 0.8em;
}